# Virtual Env
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
share/
lib64/
lib64
parts/
bin/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Local settings
instance/
.webassets-cache

# Tests
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/ 